/* ## 헤더 ## */

.header_container{
    height: 130px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: #111;
    color: #fff;
    z-index: 1;
    /* margin: 0 40px; */
    display: flex;
    align-items: center;
    /* display: none;    */
}

.header .logo{
    margin: 0 30px;
}

.header .gallery_list{
    width: 327px;
    margin-left: 0;
}

.header .gallery_list img{
    width: 78px;
    height: 122px;
}

/* snslist -> common */
.header .sns_list {
    margin-left: auto;
    margin-right: 110px;
}

.cate i{
    /* margin: 0 40px; */
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    z-index: 9 ;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
}


/* ## gnb ##  */

.gnb{
    background: url('../images/section03_bg_logo.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: #002B43;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 8;

    display: flex;
    flex-direction: column;
    gap: 75px;
    padding-top: 90px;
    
    transition: all 0.7s;
}

.gnb.active{
    left: 0;
}

.gnb .logo{
    margin: 0 auto;
}

.gnb .logo img{
    /* width: 229px; */
}

.gnb .gallery_list{
    width: 760px;
}

.gnb .gallery_list img{
    width: 100%;
}

.gnb .menu{
    display: flex;
    gap: 215px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.gnb .menu a:hover{
    color: #FC7070;
}

.gnb .info{
    height: 180px;
    display: flex;
    align-items: center;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    /* justify-content: center; */
    color: #fff;
}

.gnb .info > div {
    flex: 1;
    height: 180px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}


.gnb .sns_list ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gnb .address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gnb .info > div.host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 0;
}

.gnb h6{
    padding-bottom: 10px;
}

.gnb .p2{
    color: #ddd;
    padding-bottom: 5px;
}