
/* ## 헤더 ## */

.header_container{
    height: 130px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: #111;
    color: #fff;
    z-index: 1;
    /* margin: 0 40px; */
    display: flex;
    align-items: center;
    /* display: none;    */
}

.header .logo{
    margin: 0 30px;
}

.header .gallery_list{
    width: 327px;
    margin-left: 0;
}

.header .gallery_list img{
    width: 78px;
    height: 122px;
}

.sns_list {
    margin-left: auto;
    cursor: pointer;
}

.sns_list ul{
    display: flex;
    align-items: center;
    gap: 4px;
}

.sns_list ul li {
    border: 1px solid #fff;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sns_list ul li a{
    display: block;
}

.sns_list ul li:nth-child(1):hover {
    background-color: #007aff;
    border: initial;
}
.sns_list ul li_02:hover {
    background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%) , linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
    border: initial;
}
.sns_list ul li:nth-child(3):hover {
    background-color: rgb(245, 77, 77);;
    border: initial;
}
.sns_list ul li:nth-child(4):hover {
    background-color: rgb(2, 150, 22);
    border: initial;
}

.header .sns_list{
    margin-right: 110px;
}

.cate i{
    /* margin: 0 40px; */
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    z-index: 9 ;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
}

  /* 업버튼 */

  .up_btn{
    position: fixed;
    bottom: -50px;
    right: 30px;
    transition: all 0.3s;
    z-index: 2;
  }
  
  .up_btn.show{
    bottom: 30px;
    display: block;
  }

/* ## gnb ##  */

.gnb{
    background: url('../images/section03_bg_logo.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: #002B43;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 8;

    display: flex;
    flex-direction: column;
    gap: 75px;
    padding-top: 90px;
    
    transition: all 0.7s;
}

.gnb.active{
    left: 0;
}

.gnb .logo{
    margin: 0 auto;
}

.gnb .logo img{
    /* width: 229px; */
}

.gnb .gallery_list{
    width: 760px;
}

.gnb .gallery_list img{
    width: 100%;
}

.gnb .menu{
    display: flex;
    gap: 215px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.gnb .menu a:hover{
    color: #FC7070;
}

.gnb .info{
    height: 180px;
    display: flex;
    align-items: center;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    /* justify-content: center; */
    color: #fff;
}

.gnb .info > div {
    flex: 1;
    height: 180px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}


.gnb .sns_list ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gnb .address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gnb .info > div.host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 0;
}

.gnb h6{
    padding-bottom: 10px;
}

.gnb .p2{
    color: #ddd;
    padding-bottom: 5px;
}



/*  ###### 풀페이지 ####### */


/* ## section video ##*/

.video {
    height: 100%;
    background-color: #000;
}

.video video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* ## section 2 */

.section_02 {
    background: url(../images/section02_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.section_02 .flex_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #fff;
}

.section_02 .flex_wrap h4{
    font-weight: 400;
    padding-bottom: 10px;
}

.section_02 .flex_wrap h1{
    line-height: 1.2;
}  

/* 섹션2 애니메이션 */
.section_02 .section_logo{
    position: relative;
    opacity: 0;
    left: 90px;
}

.section_02 .section_logo.active{
    opacity: 1;
    left: 0;
    transition: all 0.7s;
}

.section_02 .text_box{
    position: relative;
    opacity: 0;
    left: 90px;
}

.section_02 .text_box.active{
    transition: all 0.7s;
    opacity: 1;
    left: 0;
}

/* ## section 3 */

.section_03 {
    background: url(../images/section03_bg_logo.png);
    background-position: bottom;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
} 
      
.section_03:after {
    content: '';
    background: #002B43;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.section_03 .titles{
    text-align: center;
    padding-bottom: 70px;
}

.section_03 .titles h4{
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 1.2;
}


.section_03 .photo_wrap{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.section_03 .photo_wrap ul{
    height: 130px;
    display: flex;
    align-items: center;
    padding: 0 80px;
    justify-content: space-between;
    background-color: white;
}

.section_03 .photo_wrap li{
    display: flex;
    align-items: center;
    gap: 30px;
}

.section_03 .photo_wrap li h6{
    letter-spacing: -3px;
}

.section_03 .photo_wrap li p{
    color:#676767;
    font-weight: 600;
}

/* 섹션3 애니메이션 */
.section_03 .titles{
    position: relative;
    opacity: 0;
    left: 90px;
}

.section_03 .titles.active{
    opacity: 1;
    left: 0;
    transition: all 0.7s;
}

.section_03 .photo, .section_03 ul {
    position: relative;
    opacity: 0;
    left: 90px;
}

.section_03 .photo.active, .section_03 ul.active {
    transition: all 0.7s;
    opacity: 1;
    left: 0;
}



/* ## section 4 */

.section_04 .titles{
    text-align: center;
    padding-bottom: 70px;
}

.section_04 .titles h4{
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 1.2;
}

.section_04 {
    background-color: #f5f5f5;
    background: url(../images/section04_bg.png);
    background-position: 80% 100%;
    background-repeat: no-repeat;
}

.section_04 .titles{
    padding-top: 100px;
    padding-bottom: 40px;
}

.section_04 h4{
    
}

.section_04 {}

.section_04 .items{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.section_04 .item .text_box{
    height: 150px;
    background-color: #fff;
    padding-left: 40px;
    padding-top: 31px;

}

.section_04 p{
    font-weight: 600;
}

.section_04 .p2{
    color: #676767;
    font-weight: 600;
}

.section_04 p:last-child{
    color: #2D89A3;
}

/* 섹션4 애니메이션 */
.section_04 .titles{
    position: relative;
    opacity: 0;
    left: 90px;
}

.section_04 .titles.active{
    opacity: 1;
    left: 0;
    transition: all 0.7s;
}

.section_04 .items {
    position: relative;
    opacity: 0;
    left: 90px;
}

.section_04 .items.active {
    transition: all 0.7s;
    opacity: 1;
    left: 0;
}



/* ## section 5 (슬라이더) */
.section.slider .titles{
    text-align: center;
    padding-bottom: 70px;
}

.section.slider .titles h4{
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 1.2;
}

.section.slider {
    background-color: #f5f5f5;
    background: url(../images/section05_bg.png);
    background-position: 81.7% 0%;
    background-repeat: no-repeat;
}

.section.slider .titles{
    padding-bottom: 70px;
}

.section.slider .titles h3{
    font-weight: 600;
}

.section.slider .texts{
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
}

.section.slider .text{
    width: 300px;
    color: #999;
    font-weight: 600;
    margin-left: 270px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.section.slider .text.active {
    margin-left: 230px;
    width: 345px;
    color : #222;
}

.section.slider .text.active h6{
    font-size: 50px;
}

.section.slider .text.active p{
    font-size: 30px;
}

/* 섹션5 애니메이션 */
.section.slider > div{
    position: relative;
    opacity: 0;
    left: 90px; 
}
.section.slider > div.active{
    opacity: 1;
    left: 0;
    transition: all 1s;
}

/* 슬라이더 */
.swipers{
    position: relative;
}

.swiper_1 {
    width: 1000px;
    height: 500px;
    position: absolute;
    top: -400px;
    left: 650px;
}

.swiper_1 img{
    width: 1000px;
 
}

.swiper_1 .swiper-slide{
    background-color: #ddd;
}

.swiper_2 {
    position: absolute;
    top: -400px;
    left: 1670px;
    width: 300px;
    height: 500px;
}

.swiper_2 .swiper-slide:nth-child(1){
    background: url(../images/slide_1.2.jpg);
    background-position: center;
}
.swiper_2 .swiper-slide:nth-child(2){
    background: url(../images/slide_2.1.jpg);
    background-position: center;
}
.swiper_2 .swiper-slide:nth-child(3){
    background: url(../images/slide_2.2.jpg);
    background-position: center;
}
.swiper_2 .swiper-slide:nth-child(4){
    background: url(../images/slide_3.1.jpg);
    background-position: right;
}
.swiper_2 .swiper-slide:nth-child(5){
    background: url(../images/slide_3.2.jpg);
    background-position: right;
}

:root {
    --swiper-theme-color: #333;
    /*
    --swiper-preloader-color: var(--swiper-theme-color);
    --swiper-wrapper-transition-timing-function: initial;
    */
}

.swipers {
    position: relative;
}

.swipers .prev {
    position: absolute;
    top: 70px;
    left: 500px;
    /* font-size: 10px;  */
    /* display: none; */
}

.swipers .next {
    position: absolute;
    top: 70px;
    left: 550px;
}

.swipers [class^="swiper-button-"]::after{
    font-size: 25px;
    font-weight: bold;
}



