.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: #111;
    color: #fff;
    z-index: 1;
}

.video video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}